@import "../../app.component.scss";

.bg{
    background-color: #355E63;
}

.titulos{
    display: block;
    text-align:center;
    float: none;
    align-items: center;
}

.fondoDesplegable{
    background-color: transparent;
}

